<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0077be">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/icon-192x192.png">
    <title>QRSong!</title>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.3.1/dist/jsQR.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/countdown.css">
</head>
<body>
    <div class="container" id="main-container">
        <div class="title">
            <img src="/assets/images/logo_white.png" style="max-width:300px;"/>
        </div>
        <div id="countdown-container">
            <div class="message-top"><%= translations.yourSongWillStart %> ...</div>
            <div id="countdown" class="countdown"><%= process.env['COUNTDOWN'] %></div>
            <div class="message-bottom"><%= translations.getReady %></div>
        </div>
        <div id="qr-icon" class="qr-icon" onclick="toggleQRScanner()">
            <i class="fas fa-camera" style="font-size: 100px;margin-bottom:25px;"></i>
            <div><%= translations.tapTheCamera %></div>
        </div>
    </div>
    <div class="footer">&copy; QRSong! <%= new Date().getFullYear() %>. <%= translations.allRightsReserved %>.</div>

    <div id="onboarding-overlay">
        <div class="onboarding-content">
            <div class="title">
                <img src="/assets/images/logo_white.png" style="max-width:300px;"/>
            </div>
            <p><%= translations.youNeedToInstall %></p>
            <div class="install-instructions">
                <h3><%= translations.howToInstall %>:</h3>
                <p><%= translations.onIOS %>:</p>
                <ol>
                    <li><%= translations.tapShare %></li>
                    <li><%= translations.scrollDown %></li>
                </ol>
                <p><%= translations.onAndroid %>:</p>
                <ol>
                    <li><%= translations.tapMenu %> ⋮</li>
                    <li><%= translations.tapAddToHomeScreen %></li>
                </ol>
            </div>
            <button id="close-onboarding"><%= translations.gotIt %></button>
        </div>
    </div>

    <video id="qr-video"></video>
    <canvas id="qr-canvas"></canvas>
    <button id="close-scanner" onclick="stopScanning()">X <%= translations.closeScanner %></button>

    <script>
        // Pass EJS variables to JavaScript
        window.countdownInitialValue = <%= process.env['COUNTDOWN'] %>;
        window.environment = '<%= process.env['ENVIRONMENT'] %>';
        window.apiUri = '<%= process.env['API_URI'] %>';
        window.translations = {
            cameraError: '<%= translations.cameraError %>'
        };
        window.link = '<%= link %>';
      
    </script>
    <script src="/assets/js/countdown.js"></script>
</body>
</html>