<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<title><%= process.env['PRODUCT_NAME'] %> - <%= translations.invoice %></title>

		<!-- Favicon -->
		<link rel="icon" href="./images/favicon.png" type="image/x-icon" />

		<!-- Invoice styling -->
		<style>
			@media print {
				@page {
					size: A4;
					margin: 0;
				}
				body {
					-webkit-print-color-adjust: exact !important;
					print-color-adjust: exact !important;
				}
			}
			
			body {
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				text-align: center;
				color: #777;
				margin: 0;
				padding: 0;
			}

			body h1 {
				font-weight: 300;
				margin-bottom: 0px;
				padding-bottom: 0px;
				color: #000;
			}

			body h3 {
				font-weight: 300;
				margin-top: 10px;
				margin-bottom: 20px;
				font-style: italic;
				color: #555;
			}

			body a {
				color: #06f;
			}

			.invoice-box {
				width: 210mm;
				height: 297mm;
				margin: 0 auto;
				padding: 30px;
				box-sizing: border-box;
				border: 1px solid #eee;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				font-size: 12px;
				line-height: 18px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
				background-color: white;
			}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
				border-collapse: collapse;
			}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(n+2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.top table td.title {
				font-size: 35px;
				line-height: 35px;
				color: #333;
			}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}

			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total  {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

			@media only screen and (max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}
		</style>
	</head>

	<body>
		
		<div class="invoice-box">
            <!-- (<%= JSON.stringify(payment, null, 2) %>) -->
			<table border="0">
				<tr class="top">
					<td colspan="7">
						<table>
							<tr>
								<td class="title">
									<img src="<%= process.env['API_URI'] %>/assets/images/logo.png" alt="Company logo" style="width: 100%; max-width: 200px" />
								</td>
								<td>
									<%= translations.invoiceNumber %>: <%= payment.orderId %><br />
									<%= translations.invoiceDate %>: <%= dateFormatter.format(payment.createdAt) %><br />
                                    <%= translations.paidInFull %><br />
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="7">
						<table>
							<tr>
								<td>
									<%= process.env['PRODUCT_NAME'] %><br />
									<%= process.env['PRODUCT_POSTBOX'] %><br />
									<%= process.env['PRODUCT_ADDRESS'] %><br />
									<%= process.env['PRODUCT_ZIPCODE'] %> <%= process.env['PRODUCT_CITY'] %><br/>
                                    <%= countries[process.env['PRODUCT_COUNTRY']] %>
								</td>
								<td>
									<% if (payment.isBusinessOrder && payment.companyName) { %>
										<strong><%= payment.companyName %></strong><br />
										<%= payment.fullname %><br />
									<% } else { %>
										<%= payment.fullname %><br />
									<% } %>
									<%= payment.invoiceAddress || payment.address %> <%= payment.invoiceHousenumber || payment.housenumber %><br/>
                                    <%= payment.invoiceZipcode || payment.zipcode %> <%= payment.invoiceCity || payment.city %><br/>
									<%= countries[payment.invoiceCountrycode || payment.countrycode] %><br/>
									<% if (payment.isBusinessOrder && payment.vatId) { %>
										<%= translations.vatId %>: <%= payment.vatId %><br/>
									<% } %>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td><%= translations.method %></td>
					<td colspan="6"></td>
				</tr>

				<tr class="details">
					<td><%= translations[payment.paymentMethod] %></td>
					<td colspan="6"></td>
				</tr>

				<tr class="heading">
					<td><%= translations.product %></td>
					<td style="text-align:right;"><%= translations.quantity %></td>
					<td style="text-align:right;"><%= translations.unitPriceExclVAT %></td>
					<td style="text-align:right;"><%= translations.totalExclVAT %></td>
					<td style="text-align:right;"><%= translations.taxRate %></td>
					<td style="text-align:right;"><%= translations.vatAmount %></td>
					<td style="text-align:right;"><%= translations.totalInclVAT %></td>
				</tr>

				<% playlists.forEach(function(playlist) {
					const totalExclVAT = playlist.price - playlist.priceVAT;
					const unitPriceExclVAT = totalExclVAT / playlist.amount;
				%>
					<tr class="item">
						<td><%= playlist.productType === 'giftcard' ? translations.giftcard : playlist.name %></td>
						<td style="text-align:right;"><%= playlist.amount %></td>
						<td style="text-align:right;"><%= euroFormatter.format(unitPriceExclVAT) %></td>
						<td style="text-align:right;"><%= euroFormatter.format(totalExclVAT) %></td>
						<td style="text-align:right;"><%= payment.taxRate %>%</td>
						<td style="text-align:right;"><%= euroFormatter.format(playlist.priceVAT) %></td>
						<td style="text-align:right;"><%= euroFormatter.format(playlist.price) %></td>
					</tr>
				<% }); %>

				<% if (orderType != 'digital') {
					const shippingExclVAT = payment.shipping - payment.shippingVATPrice;
				%>
					<tr class="item">
						<td><%= translations.shippingAndHandling %></td>
						<td style="text-align:right;">1</td>
						<td style="text-align:right;"><%= euroFormatter.format(shippingExclVAT) %></td>
						<td style="text-align:right;"><%= euroFormatter.format(shippingExclVAT) %></td>
						<td style="text-align:right;"><%= payment.taxRateShipping %>%</td>
						<td style="text-align:right;"><%= euroFormatter.format(payment.shippingVATPrice) %></td>
						<td style="text-align:right;"><%= euroFormatter.format(payment.shipping) %></td>
					</tr>
				<% } %>

				<!-- Subtotal and VAT breakdown -->
				<% const subtotalExclVAT = payment.totalPrice - payment.totalVATPrice; %>

				<tr style="border-top: 2px solid #eee;">
					<td colspan="6" style="text-align:right; padding-top: 20px;"><strong><%= translations.subtotalExclVAT %>:</strong></td>
					<td style="text-align:right; padding-top: 20px;"><strong><%= euroFormatter.format(subtotalExclVAT) %></strong></td>
				</tr>

				<% if (payment.productVATPrice > 0) { %>
				<tr>
					<td colspan="6" style="text-align:right;"><%= translations.vat %> <%= payment.taxRate %>% <%= translations.over %> <%= euroFormatter.format(payment.productPriceWithoutTax) %>:</td>
					<td style="text-align:right;"><%= euroFormatter.format(payment.productVATPrice) %></td>
				</tr>
				<% } %>

				<% if (orderType != 'digital' && payment.shippingVATPrice > 0) { %>
				<tr>
					<td colspan="6" style="text-align:right;"><%= translations.vat %> <%= payment.taxRateShipping %>% <%= translations.over %> <%= euroFormatter.format(payment.shippingPriceWithoutTax) %> (<%= translations.shipping %>):</td>
					<td style="text-align:right;"><%= euroFormatter.format(payment.shippingVATPrice) %></td>
				</tr>
				<% } %>

				<% if (payment.DiscountCodedUses && payment.DiscountCodedUses.length > 0) { %>
				<% const totalDiscount = payment.DiscountCodedUses.reduce((sum, use) => sum + use.amount, 0); %>
				<tr>
					<td colspan="6" style="text-align:right; color: #2e7d32;"><%= translations.discount %>:</td>
					<td style="text-align:right; color: #2e7d32;">-<%= euroFormatter.format(totalDiscount) %></td>
				</tr>
				<% } %>

				<tr class="total" style="border-top: 2px solid #333;">
					<td colspan="6" style="text-align:right; padding-top: 10px;"><strong><%= translations.totalInclVAT %>:</strong></td>
					<td style="text-align:right; padding-top: 10px;"><strong><%= euroFormatter.format(payment.totalPrice) %></strong></td>
				</tr>
			</table>
		</div>
	</body>
</html>
