<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Your QR Cards</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        page-break-after: always;
    }
    .page {
        width: 210mm;
        height: 297mm;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: start;
    }
    .card-container {
        width: 104mm;
        height: 52mm;
        display: flex;
        margin-bottom: 0mm;
        border: 1px solid #ccc;
    }
    .card {
        width: 52mm;
        height: 52mm;
        box-sizing: border-box;
    }
    .front {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px dashed #ccc;
    }
    .title {
        writing-mode: vertical-lr; /* Rotates the title */
        transform: rotate(0deg); /* Adjusts the direction of text */
        font-size: 14px;
        margin-left:5px;
        
    }
    .qr {
        width: 35mm; /* Slightly reduced to make space for title */
        height: 35mm;
        background-size: cover;
    }
    .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 52mm;
        transform: rotate(90deg);
    }
    .text {
        font-size: 12px;
    }
    .text.artist {
        font-size: 18px;
    }
    .text.year {
        font-size: 36px;
        font-weight: bold;
    }
    .text.name {
        font-size: 16px;
        font-style: italic;
    }
    .card-container:nth-of-type(10n) {
        page-break-after: always;
    }
    .card-container:first-of-type {
        page-break-before: avoid;
    }
</style>
</head>
<body>
<div class="page">
    <% tracks.forEach(function(track) { %>
        <div class="card-container">
            <div class="card front">
                <div class="qr" style="background-image: url('<%= process.env['API_URI'] %>/public/qr/<%= user.userId %>/<%= track.trackId %>.png');"></div>
                <div class="title" style="padding-left:2mm;padding-right:2mm;"><%= playlist.name %></div>
            </div>
            <div class="card back">
                <div class="text" style="margin-top: 0mm;font-size:18px;padding-left:2mm;padding-right:2mm;"><%= track.artist %></div>
                <div class="text" style="margin-top: 5mm;font-size:36px;font-weight:bold;padding-left:2mm;padding-right:2mm;"><%= track.year %></div>
                <div class="text" style="margin-top: 7mm;font-size:16px;font-style: italic;padding-left:2mm;padding-right:2mm;"><%= track.name %></div>
            </div>
        </div>
    <% }); %>
</div>
</body>
</html>
