<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Your QR Cards</title>
<style>
   
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        page-break-after: always;
    }
    .page {
        width: 210mm;
        height: 297mm;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 15mm 10mm;
    }
    .card-container {
        width: 60mm;
        height: 120mm;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
    }
    .card {
        width: 60mm;
        height: 60mm;
        box-sizing: border-box;
    }
    .front {
        background-image: url('<%= process.env['API_URI'] %>/assets/images/card_background2.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px dashed #ccc;
        position: relative;
        overflow: hidden;
    }
   
    .circle {
        position: absolute;
        width: 48mm;
        height: 48mm;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border: 1px solid #e0e0e0;
    }
    .domain {
        font-size: 13px;
        color: #909090;
        position: absolute;
        bottom: 10mm;
        width: 100%;
        text-align: center;
        z-index: 2;
    }
    .qr {
        flex: 0 0 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: relative;
        z-index: 2;
    }
    .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60mm;
    }
    .text {
        font-size: 12px;
    }
    .text.artist {
        font-size: 18px;
    }
    .text.year {
        font-size: 36px;
        font-weight: bold;
    }
    .text.name {
        font-size: 16px;
        font-style: italic;
    }
    .card-container:nth-of-type(6n) {
        page-break-after: always;
    }
</style>
</head>
<body>
<div class="page">
    <% let index = 0; %> 
    <% tracks.forEach(function(track) { %>
        <div class="card-container">
            <div class="card front">
                <div class="circle"></div>
                <div class="qr">
                    <img src="<%= process.env['API_URI'] %>/public/qr/<%= subdir %>/<%= tracks[index].trackId %>.png" alt="QR Code" style="width: 60%; height: auto;">
                </div>
                <!-- <div class="title" style="padding-left:2mm;padding-right:2mm;"><%= playlist.name %></div> -->
                <div class="domain"><%= process.env['APP_DOMAIN'] %></div>
            </div>
            <div class="card back">
                <div class="text" style="margin-top: 0mm;font-size:18px;padding-left:2mm;padding-right:2mm;"><%= track.artist %></div>
                <div class="text" style="margin-top: 5mm;font-size:36px;font-weight:bold;padding-left:2mm;padding-right:2mm;"><%= track.year %></div>
                <div class="text" style="margin-top: 7mm;font-size:16px;font-style: italic;padding-left:2mm;padding-right:2mm;"><%= track.name %></div>
                <div class="text" style="margin-top: 5mm;font-size:14px;color:#909090;"><%= process.env['APP_DOMAIN'] %></div>
            </div>
        </div>
        <% index++ %> 
    <% }); %>
</div>
</body>
</html>
