<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Your QR Cards</title>
<style>
    @media print {
        @page {
            size: A4;
            margin: 0;
        }
        body {
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        }
        img {
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
        }
    }
   
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        page-break-after: always;
    }
    .page {
        width: 210mm;
        height: 297mm;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 15mm 10mm;
        page-break-after: always;
    }
    .card {
        width: 60mm;
        height: 60mm;
        margin: 0;
        border: 1px solid #ccc;
    }
    .card {
        width: 60mm;
        height: 60mm;
        box-sizing: border-box;
    }
    .front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px dashed #ccc;
        position: relative;
        overflow: hidden;
    }
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
   
    .circle {
        position: absolute;
        width: 48mm;
        height: 48mm;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border: 1px solid #e0e0e0;
    }
    .domain {
        font-size: 13px;
        color: cmyk(0%, 0%, 0%, 40%);
        position: absolute;
        bottom: 10mm;
        width: 100%;
        text-align: center;
        z-index: 2;
    }
    .qr {
        flex: 0 0 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: relative;
        z-index: 2;
    }
    .qr img {
        width: 36mm;
        height: 36mm;
        object-fit: contain;
        image-resolution: 300dpi;
    }
    .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60mm;
    }
    .text {
        font-size: 12px;
        margin-top: 2mm;
        padding: 0 2mm;
        max-width: 56mm;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .text.artist {
        font-size: 18px;
    }
    .text.year {
        font-size: 36px;
        font-weight: bold;
    }
    .text.name {
        font-size: 16px;
        font-style: italic;
    }
</style>
</head>
<body>
<!-- Front side page -->
<div class="page">
    <% let index = 0; %> 
    <% tracks.forEach(function(track) { %>
        <div class="card front">
            <img class="background-image" src="<%= process.env['API_URI'] %>/assets/images/card_background2.png" alt="Card Background">
            <div class="circle"></div>
            <div class="qr">
                <img src="<%= process.env['API_URI'] %>/public/qr/<%= subdir %>/<%= tracks[index].trackId %>.png" alt="QR Code" style="width: 60%; height: auto;">
            </div>
            <div class="domain"><%= process.env['APP_DOMAIN'] %></div>
        </div>
        <% index++ %> 
    <% }); %>
</div>

<!-- Back side page -->
<div class="page">
    <% index = 0; %> 
    <% tracks.forEach(function(track) { %>
        <div class="card back">
            <div class="text" style="margin-top: 0mm;font-size:18px;padding-left:2mm;padding-right:2mm;"><%= track.artist %></div>
            <div class="text" style="margin-top: 5mm;font-size:36px;font-weight:bold;padding-left:2mm;padding-right:2mm;"><%= track.year %></div>
            <div class="text" style="margin-top: 7mm;font-size:16px;font-style: italic;padding-left:2mm;padding-right:2mm;"><%= track.name %></div>
            <div class="text" style="margin-top: 5mm;font-size:14px;color:#909090;"><%= process.env['APP_DOMAIN'] %></div>
        </div>
        <% index++ %> 
    <% }); %>
</div>
</body>
</html>
