<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Your QR Cards</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .card-front, .card-back {
        width: 66mm;
        height: 66mm;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .card-front {
        background-color: red;
        background-image: url('<%= process.env['API_URI'] %>/public/images/card_background2.png');
        background-size: 60mm 60mm;
        background-position: center bottom 10mm;
        background-repeat: no-repeat;
    }
    .card-back {
        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .qr {
        width: 60%;
        height: auto;
        position: relative;

    }
    .text {
        text-align: center;
        padding: 2mm;
    }
    .text.artist {
        font-size: 18px;
    }
    .text.year {
        font-size: 40px;
        font-weight: bold;
    }
    .text.name {
        font-size: 16px;
        font-style: italic;
    }
    .url, .url-bottom {
        font-size: 12px;
        position: absolute;
        bottom: 12mm;
        text-align: center;
        width: 100%;
        font-style: italic;
        color: #909090;
        z-index: 3;
    }
    .url-bottom {
        bottom: 8mm;
    }
</style>
</head>
<body>
<% tracks.forEach((track, index) => { %>
    <div class="card-front">
        <img src="<%= process.env['API_URI'] %>/public/qr/<%= subdir %>/<%= track.trackId %>.png" alt="QR Code" class="qr">
        <div class="url"><%= process.env['APP_DOMAIN'] %></div>
    </div>
    <div style="page-break-after: always;"></div>
    <div class="card-back">
        <div class="text artist"><%= track.artist %></div>
        <div class="text year"><%= track.year %></div>
        <div class="text name"><%= track.name %></div>
        <div class="url-bottom"><%= process.env['APP_DOMAIN'] %></div>
    </div>
    <div style="page-break-after: always;"></div>
<% }); %>
</body>
</html>
