<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Your QR Cards</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .card {
        width: 60mm;
        height: 120mm;
        page-break-after: always;
    }
    .front, .back {
        width: 100%;
        height: 60mm;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .front {
        background-image: url('<%= process.env['API_URI'] %>/public/images/card_background2.png');
        background-size: cover;
    }
    .qr {
        width: 60%;
        height: auto;
        position: relative;
        z-index: 3;
    }
    .text {
        text-align: center;
        padding: 2mm;
    }
    .text.artist {
        font-size: 18px;
    }
    .text.year {
        font-size: 40px;
        font-weight: bold;
    }
    .text.name {
        font-size: 16px;
        font-style: italic;
    }
    .url, .url-bottom {
        font-size: 12px;
        position: absolute;
        bottom: 5mm;
        text-align: center;
        width: 100%;
        font-style: italic;
        color: #909090;
        z-index: 3;
    }
    .url-bottom {
        bottom: 2mm;
    }
</style>
</head>
<body>
<% tracks.forEach((track, index) => { %>
    <div class="card">
        <div class="front">
            <img src="<%= process.env['API_URI'] %>/public/qr/<%= track.trackId.substring(0, 4) %>/<%= track.trackId %>.png" alt="QR Code" class="qr">
            <div class="url"><%= process.env['APP_DOMAIN'] %></div>
        </div>
        <div class="back">
            <div class="text artist"><%= track.artist %></div>
            <div class="text year"><%= track.year %></div>
            <div class="text name"><%= track.name %></div>
            <div class="url-bottom"><%= process.env['APP_DOMAIN'] %></div>
        </div>
    </div>
<% }); %>
</body>
</html>
